@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Geist Mono', sans-serif;
}

header {
  background-color: #004766;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

nav {
  display: inline-flexbox;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3%;
  margin: 0 auto;
  padding: 1%;
}

nav a {
  font-size: calc(12px + 2vmin);
  color: #FEFCFB;
  text-decoration: none;
  font-weight: 700;
  transition: .3s;
}

nav a:hover,
nav a.active,
select:hover {
  color: #44e5e7
}

select,
select option {
  font-size: calc(12px + 2vmin);
  font-weight: 700;
  border-style: none;
  color: #FEFCFB;
  background-color: #004766;
}

select {
  appearance: none;
}

select:focus {
  outline: none;
}

.container {
  height: 100%;
  width: 100%;
  background-color: red;
}

.page {
  height: 100%;
  background-color: blue;
  border: 2px solid black;
}